.bizstrap-table-container {
  margin-left:      auto;
  margin-right:     auto;
  padding-top:      $default-spacing / 2;
  border-top:       .3rem solid $vantablack-1;
}

.bizstrap-table {
  border:           1px solid $bizo-light-gray;
  border-collapse:  separate;
  border-left:      0;
  border-top:       0;
  background-color: white;
  border-spacing:   0;
  margin-bottom:    0;
  margin-top:       0;
  td,th {
    border-left:    1px solid $bizo-light-gray;
    border-top:     1px solid $bizo-light-gray;
    padding:        .3em .5em;
    vertical-align: top;
    min-width:      1em;
    white-space:    nowrap;
  }
  th {
    font-weight:    400;
  }
  .label {
    width:          10rem;
  }
  td:nth-child(n+3),th:nth-child(n+2) {
    text-align:     right;
  }
  input[type="checkbox"] {
    display:        inline-block;
    width:          auto;
  }
  path {
    fill:           $control-icon;
    -webkit-transition: fill .10s cubic-bezier(.33,.66,.66,1);
    transition:     fill .10s cubic-bezier(.33,.66,.66,1);
  }
  a.row-toggle {
    cursor:         pointer;
    box-shadow:     none;
    &:hover {
      background:   none;
      path {
        fill:       $mint;
      }
    }
    &:active {
      path {
        fill:       $purple;
      }
      box-shadow:   none;
      border-bottom: none;
    }
  }
}

tr.creative {
  td:nth-child(2) {
    text-align:     right;
  }
}

.message {
  background-color: $message-row;
}

.creative {
  background-color: $creative-row;
}

tr.creative .label {
  padding-left:     1.5em;
}

tr.campaign,tr.message {
  td:first-child {
    padding:        .4em .5em .1em;
    width:          1em;
  }
}