.contact-background {
  background-image: url("./../images/contact/contact-bg-28rem.jpg");
  @media screen and (min-width: $phone-size) {
    background-image: url("./../images/contact/contact-bg-50rem.jpg");
  }
  @media screen and (min-width: $tablet-size) {
    background-image: url("./../images/contact/contact-bg.jpg");
  }
  background-size:  cover;
  background-position: center;
  height:           100%;
  form {
    margin:         auto;
    padding:        20vh 0 1rem;
  }
}

.contact-button {
  margin:           auto;
  display:          block;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  line-height:      3.5rem;
  background-color: darken($mint, 5%);
  border:           none;
  color:            white;
  transition:       background-color .3s;
  &:focus {
    outline:        none;
    box-shadow:     0 0 0 .1rem $purple;
  }
  &:active, &:hover:active {
    background-color: $purple;
  }
  &:hover {
    background-color: $mint;
  }
}

textarea,input {
  display:          block;
  background-color: $white85;
  border:           1px solid $white45;
  color:            $black85;
  resize:           none;
  padding:          1rem;
  box-sizing:       border-box;
  &:focus {
    outline:        none;
    box-shadow:     0 0 0 .1rem $purple;
  }
}

textarea {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  height:           30vh;
  line-height:      1.5rem;
}

::-webkit-input-placeholder { color: $black65; }
::-moz-placeholder { color: $black65; }
:-ms-input-placeholder { color: $black65 }

textarea + input { margin-top: $default-spacing / 2; }
input + button { margin-top: $default-spacing / 2; }