.grid-flex .cover {
  width:            100vw;
  height:           100vh;
  background-image: $gradient-left-right;
  position:         relative;
  .cover-background {
    background-image: url("./../images/monument-cover-28rem-adj.jpg");
    @media screen and (min-width: $phone-size) {
      background-image: url("./../images/monument-cover-50rem-adj.jpg");
    }
    @media screen and (min-width: $tablet-size) {
      background-image: url("./../images/monument-cover-adj.jpg");
    }
    background-size: cover;
    background-position: center;
    height:         100%;
  }
}

.satnh {
  margin-top:       58vh;
  vertical-align:   middle;
  text-align:       center;
  color:            $white85;
}

.cta {
  text-align:       center;
  color:            $white85;
}