.grid-flex .cover {
  width:            100vw;
  height:           100vh;
  background-image: $gradient-left-right;
  position:         relative;
  .cover-background {
    background-image: url("http://quiet-dusk-35598.herokuapp.com/images/monument-cover.jpg");
    background-size: cover;
    background-position: center;
    filter:         opacity(80%);
    height:         100%;
    .lettering {
      padding-left: 25vw;
      width:        50vw;
      padding-top:  calc(50vh - 10vw);
      filter:       opacity(80%);
    }
  }
}