.grid-flex .cover {
  width:            100vw;
  height:           100vh;
  background-image: $gradient-left-right;
  position:         relative;
  .cover-background {
    background-image: url("http://quiet-dusk-35598.herokuapp.com/images/monument-cover.jpg");
    background-size: cover;
    background-position: center;
    filter:         opacity(80%);
    height:         100%;
    .lettering {
      padding-left: 10vw;
      padding-top:  calc(50vh - 10vw);
      width:        80vw;
      @media screen and (min-width: $min-fluid) {
        padding-left: 25vw;
        width:      50vw;
      }
      @media screen and (min-width: $max-fluid) {
        padding-top: 35vh;
      }
      filter:       opacity(80%);
    }
  }
}