// Grids
// -------------------------

// Grid 1, fluid with max-width
$total_width:       100%;
$container_margin: 	auto;
$gutter_width:      2%;
$max_width:         1128px;

.grid-max-width {
  max-width:        $max_width;
  margin-bottom:    $gutter_width;
  @include container();
  @include clearfix();
  @include generate_helper_classes();
  &+ .grid-max-width {
    margin-top:     $gutter_width;
  }
  
  article { padding: 0 1rem; }
}

// Grid 2, fluid
$total_width:       100%;
$container_margin: 	0;
$gutter_width:      2%;
$max_width:         100%;

.grid-flex {
  max-width:        $max_width;
  margin-bottom:    $gutter_width;
  @include container();
  @include clearfix();
  @include generate_helper_classes();
}

.grid-flex > div { 
  background-color: $mint;
  min-height:       5rem;
  margin-top:       0;
}

.grid-flex + .grid-flex {
  margin-top:       $gutter_width;
}