// Grids
// -------------------------

// Grid 1, fluid with max-width
$total_width:       100%;
$container_margin: 	auto;
$gutter_width:      2%;
$max_width:         $reading-width;

.grid-max-width {
  max-width:        $max_width;
  margin-bottom:    $gutter_width;
  @include container();
  @include clearfix();
  @include generate_helper_classes();
  article { padding: 0 1rem; }
}

// Grid 2, fluid
$container_margin: 	0;
$gutter_width:      0%;
$max_width:         100%;

.grid-flex {
  max-width:        $max_width;
  margin-bottom:    3rem;
  @include container();
  @include clearfix();
  @include generate_helper_classes();
  img {
    width:          100%;
    vertical-align: middle;
  }
}

// Grid 3, responsive project showcase
$container_margin: 	auto;
$gutter_width:      2%;
$max_width:         $wide-grid-width;

.grid-showcase {
  max-width:        $max-width;
  @include container();
  @include clearfix();
  div{@include column(12);}
  @include generate_grid_positions(div, 12);
  img {
    width:          100%;
    vertical-align: middle;
  }
}

@media screen and (min-width: $showcase-1-max) {
  $max_width:       $showcase-1-max;

  .grid-showcase {
    max-width:      $showcase-1-max;
    margin-bottom:  $gutter-width;
  }
}

@media screen and (min-width: $showcase-3-column) {
  $max_width:       $wide-grid-width;

  .grid-showcase {
    max-width:      $max-width;
    div{@include column(4);}
    @include generate_grid_positions(div, 4);
  }
}

.grid-flex > div, .grid-showcase > div { 
  background-color: $mint;
  min-height:       3rem;
  margin-top:       0;
}