.guide {
  color:            white;
  h1,h2,h3,h4,h5 { color: white; }
  border-top:       .4em double white;
  background-color: $black85;
  //background-image: linear-gradient(-90deg, $midnight, $brick);
  padding:          ($default-spacing * 3) 0;
}