// not being used atm
.header {
  min-height:       24vmin;
  padding:          1rem;
  background-color: white;
  border:           .8rem solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, $mint 30%, $purple 60%, $mint 90%);
  -webkit-border-image: -webkit-linear-gradient(top left, $mint 20%, $purple 60%, $mint 90%);
  border-image:     linear-gradient(to bottom right, $mint 30%, $purple 60%, $mint 90%);
  border-image-slice: 1;
//  background-image: linear-gradient(to right, rgba(127,219,182,1) 0%, rgba(255,255,255,.85) 100%), url(https://quiet-dusk-35598.herokuapp.com/images/header-bg.jpg);
//  background-size:  cover;
//  background-position: center 65%;
//  background-repeat: no-repeat;
//  background-blend-mode: darken;
}

.header-img {
  width:            100vw;
  height:           6rem;
  background-size:  cover;
  background-position: center;
}

.header-img.work {
  background-image: url("http://quiet-dusk-35598.herokuapp.com/images/work/header-pano-bg-color.jpg");
}

.header-img.process {
  background-image: url(./../images/process/process-header-28rem.jpg);
  @media screen and (min-width: $phone-size) {
    background-image: url(./../images/process/process-header-50rem.jpg);
  }
  @media screen and (min-width: $tablet-size) {
    background-image: url(./../images/process/process-header.jpg);
  }
  @media screen and (min-width: $big-screen) {
    background-image: url(./../images/process/process-header-big-screen.jpg);
  }
}