.header-title {
  margin-top:       $nav-height;
  padding:          $default-spacing 0;
  color:            white;
  text-shadow:      0 0 .3rem rgba(0,0,0,.15);
}

.header-img-process {
  background-size:  cover;
  background-position: center;
  background-color: $vantablack-8;
  background-image: url(./../images/process/process-header-28rem-adj2.jpg);
  @media screen and (min-width: $phone-size) {
    background-image: url(./../images/process/process-header-50rem-adj2.jpg);
  }
  @media screen and (min-width: $tablet-size) {
    background-image: url(./../images/process/process-header-adj2.jpg);
  }
  @media screen and (min-width: $big-screen) {
    background-image: url(./../images/process/process-header-big-screen-adj2.jpg);
  }
}