@mixin img-container($width) {
  max-width:        $width;
  text-align:       center;
  margin-right:     auto;
  margin-left:      auto;
  padding-top:      $default-spacing / 2;
  border-top:       .3rem solid $vantablack-1;
  p {
    width:          inherit;
    color:          $vantablack-6;
  }
}

.img-container-25 {
  @include img-container(25rem);
}

.img-container-35 {
  @include img-container(35rem);
}

.img-container-50 {
  @include img-container(50rem);
}

div[class^="img-container-"] + p {
  margin-top:       $default-spacing / 2;
}

.img-large {
  display:          block;
  margin-left:      auto;
  margin-right:     auto;
}

@media screen and (min-width: $max-fluid) {
  .img-large { max-width: 100%; }
}