.nav-bar {
  box-shadow:       0 .2rem 1rem 0px $black15;
  position:         fixed;
  top:              0;
  width:            100%;
  z-index:          100;
  background-color: white;
  .nav-max {
    margin:         auto;
    overflow:       hidden;
  }
  .identity {
    margin:         0;
    float:          left;
    height:         $nav-height;
    padding:        .3rem;
    &:hover {
      a {
        background: white;
      }
    }
    img {
      height:       $nav-height - .6rem;
      width:        $nav-height - .6rem;
      border-radius: 15%;
    }
  } 
  .nav-links {
    display:        flex;
  }
  div {
    margin-top:     0;
    background-color: white;
    min-height:     inherit;
    text-align:     center;
    height:         $nav-height;
    &.active {
      font-weight:  400;
//      border-bottom: .3rem solid $black85;
      box-sizing:   border-box;
    }
  }
  a {
    line-height:    $nav-height;
    border-bottom:  none;
    box-shadow:     none;
    display:        block;
  }
  a.active, .active a {
    border-bottom: .1em solid $black85;
    transition: background .10s cubic-bezier(.33,.66,.66,1);
    box-shadow: inset 0 -.2em 0 $black85;
  }
}