.nav-bar {
  box-shadow:       $light-shadow;
  position:         fixed;
  top:              0;
  width:            100%;
  z-index:          100;
  background-color: white;
  a {
    border-bottom:  none;
    box-shadow:     none;
    &:active {
      border-bottom: none;
      box-shadow:   none;
    }
  }
  #global-nav {
    margin:         auto;
    a {
      display:      block;
    }
    .router-link-active img {
      transition: filter .30s cubic-bezier(.33,.66,.66,1);
    }
    .identity {
      float:        left;
      height:       2.9rem;
      margin:       .3rem;
      border-radius: 15%;
      transition:   background .10s cubic-bezier(.33,.66,.66,1);
      @media screen and (min-width: $min-line-length) {
        margin: .3rem .3rem .3rem 0;
      }
      img {
        //filter:     grayscale(80%) contrast(1.4);
        height:     $nav-height - .6rem;
        width:      $nav-height - .6rem;
        border-radius: 15%;
        transition: filter .30s cubic-bezier(.33,.66,.66,1);
      }
    }
    a:hover .identity {
      background-color: $mint;
      img {
        filter:     opacity(25%) grayscale(100%) contrast(1.2);
      }
    }
    a:active .identity {
      background-color: $purple;
    }
    .nav-links {
      display:      flex;
      div {
      text-align:   center;
      }
      a {
        line-height: $nav-height;
      }
      .router-link-active {
        font-weight: $copy-bold;
        border-bottom: .1em solid $vantablack-1;
        transition: background .10s cubic-bezier(.33,.66,.66,1);
        box-shadow: inset 0 -.2em 0 $vantablack-1;
      }
    }
  }
  div {
    margin-top:     0;
    background-color: white;
    height:         $nav-height;
  }
  #work-nav {
    text-align:     left;
    margin:         auto;
    overflow:       hidden;
    text-overflow:  ellipsis;
    a {
      float:        left;
    }
    a:hover {
      background-color: transparent;
      #back #arrow {
        fill:       $mint;
        transition: fill .10s cubic-bezier(.33,.66,.66,1);
      }
    }
    a:active {
      border-bottom: none;
      box-shadow:   none;
      #back #arrow {
        fill:       $purple;
        transition: fill .10s cubic-bezier(.33,.66,.66,1);
      }
    }
    div {
      display:      block;
      overflow:     hidden;
      text-overflow: ellipsis;
    }
    #back {
      height:       $nav-height;
      width:        $nav-height;
      #arrow {
        fill:       $vantablack-8;
      }
    }
    #project-name {
      line-height:  $nav-height;
      font-weight:  $copy-weight;
      border-left:  1px solid $vantablack-8;
      padding-left: 1.5rem;
      word-wrap:    break-word;
      white-space:  nowrap;
    }
  }
}