.job {
  position:         relative;
  padding-bottom:   $default-spacing * 2;
  background:       repeating-linear-gradient(90deg, lighten($vantablack-9,3%) 0, lighten($vantablack-9,3%) 5%, transparent 0, transparent 50%) 0 / 1rem 1rem, repeating-linear-gradient(180deg, lighten($vantablack-9,3%) 0, lighten($vantablack-9,3%) 5%, transparent 0, transparent 50%) 0 / 1rem 1rem;
  border-top:       1px solid $vantablack-8;
  @media screen and (min-width: $phone-size) {
    margin-left:    $default-spacing / 2;
    margin-right:   $default-spacing / 2;
  }
  @media screen and (min-width: $tablet-size) {
    margin-left:    $default-spacing;
    margin-right:   $default-spacing;
    padding-bottom: $default-spacing * 5;
  }
  h2 {
    font-family:    $copy-font;
    line-height:    1;
  }
  .background {
    position:       absolute;
    width:          100%;
    height:         100%;
    z-index:        0;
    .background-image {
      width:        100%;
      height:       100%;
      filter:       opacity(.1);
      background-position: center;
    }
  }
  .grid-max-width {
    position:       relative;
    padding-top:    $default-spacing * 2;
    @media screen and (min-width: $tablet-size) {
      padding-top: $default-spacing * 5;
    }
  }
}

.grid-showcase {
  article {
    padding:        1rem 1rem 0;
  }
  a {
    display:        block;
    position:       relative;
    color:          white;
    font-weight:    $copy-light;
    box-shadow:     $light-shadow;
    &:hover p {
      background-color: $vantablack-3;
      color:        $mint;
    }
    &:focus p, &:active p {
      background-color: $purple;
    }
    &:active {
      box-shadow:   none;
      border-bottom: none;
      background:   none;
    }
  }
  img {
    width:          100%;
    vertical-align: middle;
  }
  div {
    background-color: transparent;
    background-clip: content-box;
  }
  p {
    position:       absolute;
    bottom:         0;
    width:          100%;
    background-color: $vantablack-5;
    line-height:    2.75rem;
    transition:     background-color .3s, filter .3s;
    filter:         opacity(.9);
    span {
      padding:      0 1rem;
    }
  }
}

.last-job {
  @media screen and (min-width: $phone-size) {
    margin-bottom:  $default-spacing / 2;
  }
  @media screen and (min-width: $tablet-size) {
    margin-bottom:  $default-spacing;
  }
}