.job {
  position:         relative;
  padding-bottom:   $default-spacing;
  @media screen and (min-width: $tablet-size) {
    padding-bottom: $default-spacing * 3.5;
  }
  .background {
    position:       absolute;
    width:          100%;
    height:         100%;
    z-index:        0;
    .background-image {
      width:        100%;
      height:       100%;
      filter:       opacity(.1);
      background-position: center;
    }
  }
  .grid-max-width {
    position:       relative;
    padding-top:    $default-spacing * 2;
    @media screen and (min-width: $tablet-size) {
      padding-top: $default-spacing * 3.5;
    }
  }
}

.job.linkedin {
  background-color: $linkedin-bg;
  color:            $linkedin-copy;
  h1,h2,h3,h4,h5    { color: $linkedin-headline; }
  h1 small, h2 small { color: $linkedin-subhead; }
  a:hover p { color: $linkedin-blue; }
  a:focus p, a:active p {
    background-color: white;
    color:          $linkedin-blue;
  }
  .background-image { background-image: url('./../images/work/linkedin-bg.jpg'); }
}

.job.bizo {
  background-color: $bizo-bg;
  color:            $bizo-copy;
  h1,h2,h3,h4,h5    { color: $bizo-headline; }
  h1 small, h2 small { color: $bizo-subhead; }
  a:hover p {
    background-color: $bizo-light-blue;
    color:          white;    
  }
  a:focus p, a:active p {
    background-color: white;
    color:          $bizo-light-blue;
  }
  .background-image {
    background-image: url('./../images/work/bizo-bg.jpg');
    filter: opacity(.05);
  }
}

.job.esurance {
  background-color: $esurance-bg;
  color:            $esurance-copy;
  h1,h2,h3,h4,h5    { color: $esurance-headline; }
  h1 small, h2 small { color: $esurance-subhead; }
  a:hover p {
    background-color: $esurance-blue;
    color:          white;
  }
  a:focus p, a:active p {
    background-color: white;
    color:          $esurance-blue;
  }
  .background-image { background-image: url('./../images/work/esurance-bg.jpg'); }
}

.grid-showcase {
  article {
    padding:        1rem .5rem 0;
  }
  a {
    display:        block;
    position:       relative;
    color:          white;
    font-weight:    300;
    &:hover p {
      background-color: $black85;
      color:        $mint;
    }
    &:focus p, &:active p {
      background-color: $purple;
    }
    &:active {
      box-shadow:   none;
      border-bottom: none;
      background:   none;
    }
  }
  img {
    width:          100%;
    vertical-align: middle;
  }
  div {
    background-color: transparent;
    background-clip: content-box;
  }
  p {
    position:       absolute;
    bottom:         0;
    width:          100%;
    background-color: $black65;
    line-height:    3rem;
    transition:     background-color .3s, filter .3s;
    span {
      padding:      0 1rem;
    }
  }
}