.job {
  padding-top:      $default-spacing * 3;
  padding-bottom:   $default-spacing;
}

.job.linkedin {
  background-color: $linkedin-bg;
  color:            $linkedin-copy;
  h1,h2,h3,h4,h5    { color: $linkedin-headline; }
  h1 small, h2 small { color: $linkedin-subhead; }
  a:hover p { color: $linkedin-link; }
  a:focus p, a:active p {
    background-color: white;
    color:          $linkedin-blue;
  }
}

.job.bizo {
  background-color: $bizo-bg;
  color:            $bizo-copy;
  h1,h2,h3,h4,h5    { color: $bizo-headline; }
  h1 small, h2 small { color: $bizo-subhead; }
  a:hover p { color: $bizo-light-blue; }
  a:focus p, a:active p {
    background-color: $bizo-light-blue;
    color:          white;
  }
}

.job.esurance {
  background-color: $esurance-bg;
  color:            $esurance-copy;
  h1,h2,h3,h4,h5    { color: $esurance-headline; }
  h1 small, h2 small { color: $esurance-subhead; }
  a:hover p { color: $esurance-blue; }
  a:focus p, a:active p {
    background-color: white;
    color:          $esurance-blue;
  }
}

.grid-showcase {
  a {
    color:          white;
    font-weight:    300;
    &:hover p {
      background-color: $black85;
      color:        $mint;
    }
    &:focus p, &:active p {
      background-color: $purple;
    }
  }
  img {
    width:          100%;
    vertical-align: middle;
  }
  div {
    background-color: $black15;
    position:       relative;
    background-clip: border-box;
  }
  p {
    position:       absolute;
    bottom:         0;
    width:          100%;
    background-color: $black65;
    line-height:    3rem;
    padding:        0 1rem;
    transition:     background-color .3s, filter .3s;
  }
}