.sidebar {
  float:            right;
  width:            20rem;
  margin-left:      $default-spacing;
  margin-bottom:    $default-spacing;
  padding-top:      $default-spacing / 2;
  border-top:       .3rem solid $vantablack-1;
  font-weight:      400;
  color:            $vantablack-5;
  p {
    width:          inherit;
  }
}

.sidebar + p {
  margin-top:       $default-spacing / 2;
}