// Spacing
// -------------------------

// Default
* + * {
  margin-top: 	    $default-spacing;
  margin-bottom:    0;
}

// Type
h1 {
  margin-top:       $default-spacing + $nav-height;
  margin-bottom:    0;
}

h1 + p,h2 + p,h3 + p,h4 + p,h5 + p {
  margin-top: 	    $header-spacing;
}

h2 + .project-image,h3 + .project-image,h4 + .project-image,h5 + .project-image {
  margin-top: 	    $header-spacing;
}

p + h1,p + h2,p + h3,p + h4,p + h5 {
  margin-top:       $default-spacing;
}

h1 + h2,h2 + h3,h3 + h4,h4 + h5 {
  margin-top:       $default-spacing;
}

p + p {
  margin-top: 	    $paragraph-spacing;
}

img + h1,img + h2,img + h3,img + h4,img + h5 {
  margin-top:       $default-spacing;
}

// Grids
.grid-flex + .grid-max-width, .grid-max-width + .grid-flex, .grid-max-width + .grid-showcase, .grid-showcase + .grid-max-width, .nav + .grid-max-width {
  margin-top:       $default-spacing;
}

.grid-max-width + .grid-max-width {
  margin-top:       3rem;
}

.grid-max-width + .grid-flex.guide {
  margin-top:       3rem;
}

.grid-showcase + .grid-showcase {
  margin-top:       $gutter_width;
  @media screen and (min-width: $max-fluid) {
    margin-top:     ($wide-grid-width * .02);
  }
}

.job + .job {
  margin-top:       0;
  @media screen and (min-width: $phone-size) {
    margin-top:     $default-spacing / 2;
  }
  @media screen and (min-width: $tablet-size) {
    margin-top:     $default-spacing;
  }
}

// Contact form
h1 + #contact-feedback {
  margin-top:       $default-spacing;
}

// Nav + Template container
#nav-bar + div {
  margin-top: 0;
}

// Remove default spacing
.margins-off > * {
  margin-top:       0;
}

// Images in sidebar
.sidebar * + * {
  margin-top:       .45rem;
}

// Break
.break {
  margin-top:       $default-spacing * 3;
}