table {
  margin:           1rem auto;
  border-collapse:  collapse;
  td {
    padding-bottom: .75rem;
  }
  tr + tr td {
    padding-top:    .75rem;
    border-top:     1px solid $black15;
  }
  td + td {
    padding-left:   6rem;
  }
  tr:last-child td {
    padding-bottom: 0;
  }
}