table {
  margin:           1rem auto;
  border-collapse:  collapse;
  th {
    text-align:     left;
    padding:        0 .3em;
  }
  td {
    padding-bottom: .75rem;
  }
  tr + tr td {
    padding-top:    .75rem;
    border-top:     1px solid $vantablack-8;
  }
  td + td {
    padding-left:   6rem;
  }
}