body {
  background-color: white;
  margin: 0; }
  body img {
    width: 100%; }

article {
  padding: 0 1rem; }

.hide {
  display: none; }

/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
.grid-max-width {
  max-width: 70rem;
  margin-bottom: 2%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .grid-max-width .row {
    width: 100%;
    margin: 0 auto; }
  .grid-max-width .col1 {
    float: left;
    margin-right: -100%;
    width: 6.5%; }
  .grid-max-width .col2 {
    float: left;
    margin-right: -100%;
    width: 15%; }
  .grid-max-width .col3 {
    float: left;
    margin-right: -100%;
    width: 23.5%; }
  .grid-max-width .col4 {
    float: left;
    margin-right: -100%;
    width: 32%; }
  .grid-max-width .col5 {
    float: left;
    margin-right: -100%;
    width: 40.5%; }
  .grid-max-width .col6 {
    float: left;
    margin-right: -100%;
    width: 49%; }
  .grid-max-width .col7 {
    float: left;
    margin-right: -100%;
    width: 57.5%; }
  .grid-max-width .col8 {
    float: left;
    margin-right: -100%;
    width: 66%; }
  .grid-max-width .col9 {
    float: left;
    margin-right: -100%;
    width: 74.5%; }
  .grid-max-width .col10 {
    float: left;
    margin-right: -100%;
    width: 83%; }
  .grid-max-width .col11 {
    float: left;
    margin-right: -100%;
    width: 91.5%; }
  .grid-max-width .col12 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .grid-max-width .push0 {
    margin-left: 0%; }
  .grid-max-width .push1 {
    margin-left: 8.5%; }
  .grid-max-width .push2 {
    margin-left: 17%; }
  .grid-max-width .push3 {
    margin-left: 25.5%; }
  .grid-max-width .push4 {
    margin-left: 34%; }
  .grid-max-width .push5 {
    margin-left: 42.5%; }
  .grid-max-width .push6 {
    margin-left: 51%; }
  .grid-max-width .push7 {
    margin-left: 59.5%; }
  .grid-max-width .push8 {
    margin-left: 68%; }
  .grid-max-width .push9 {
    margin-left: 76.5%; }
  .grid-max-width .push10 {
    margin-left: 85%; }
  .grid-max-width .push11 {
    margin-left: 93.5%; }

.grid-flex {
  max-width: 100%;
  margin-bottom: 3rem;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
  *zoom: 1;
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .grid-flex .row {
    width: 100%;
    margin: 0 0; }
  .grid-flex .col1 {
    float: left;
    margin-right: -100%;
    width: 8.33%; }
  .grid-flex .col2 {
    float: left;
    margin-right: -100%;
    width: 16.67%; }
  .grid-flex .col3 {
    float: left;
    margin-right: -100%;
    width: 25%; }
  .grid-flex .col4 {
    float: left;
    margin-right: -100%;
    width: 33.33%; }
  .grid-flex .col5 {
    float: left;
    margin-right: -100%;
    width: 41.67%; }
  .grid-flex .col6 {
    float: left;
    margin-right: -100%;
    width: 50%; }
  .grid-flex .col7 {
    float: left;
    margin-right: -100%;
    width: 58.33%; }
  .grid-flex .col8 {
    float: left;
    margin-right: -100%;
    width: 66.67%; }
  .grid-flex .col9 {
    float: left;
    margin-right: -100%;
    width: 75%; }
  .grid-flex .col10 {
    float: left;
    margin-right: -100%;
    width: 83.33%; }
  .grid-flex .col11 {
    float: left;
    margin-right: -100%;
    width: 91.67%; }
  .grid-flex .col12 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .grid-flex .push0 {
    margin-left: 0%; }
  .grid-flex .push1 {
    margin-left: 8.33%; }
  .grid-flex .push2 {
    margin-left: 16.67%; }
  .grid-flex .push3 {
    margin-left: 25%; }
  .grid-flex .push4 {
    margin-left: 33.33%; }
  .grid-flex .push5 {
    margin-left: 41.67%; }
  .grid-flex .push6 {
    margin-left: 50%; }
  .grid-flex .push7 {
    margin-left: 58.33%; }
  .grid-flex .push8 {
    margin-left: 66.67%; }
  .grid-flex .push9 {
    margin-left: 75%; }
  .grid-flex .push10 {
    margin-left: 83.33%; }
  .grid-flex .push11 {
    margin-left: 91.67%; }
  .grid-flex img {
    width: 100%;
    vertical-align: middle; }

.grid-showcase {
  max-width: 88rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }
  .grid-showcase div {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .grid-showcase div:nth-child(1n+1) {
    margin-left: 0%;
    margin-bottom: 0%;
    clear: both;
    overflow: hidden;
    *zoom: 1; }

.grid-flex + .job, .job + .job {
  margin-top: 0; }

.job + .guide {
  margin-top: 0; }

@media screen and (min-width: 32rem) {
  .grid-showcase {
    max-width: 32rem;
    margin-bottom: 0; } }
@media screen and (min-width: 75rem) {
  .grid-showcase {
    max-width: 88rem; }
    .grid-showcase div {
      float: left;
      margin-right: -100%;
      width: 33.33%; }
    .grid-showcase div:nth-child(3n+1) {
      margin-left: 0%;
      margin-bottom: 0%;
      clear: both;
      overflow: hidden;
      *zoom: 1; }
    .grid-showcase div:nth-child(3n+2) {
      margin-left: 33.33%;
      margin-bottom: 0%;
      clear: none; }
    .grid-showcase div:nth-child(3n+3) {
      margin-left: 66.67%;
      margin-bottom: 0%;
      clear: none; } }
.grid-flex > div, .grid-showcase > div {
  background-color: #7FDBB6;
  min-height: 3rem;
  margin-top: 0; }

.nav-bar {
  box-shadow: 0 0.2rem 1rem 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white; }
  .nav-bar a {
    border-bottom: none;
    box-shadow: none; }
    .nav-bar a:active {
      border-bottom: none;
      box-shadow: none; }
  .nav-bar #global-nav {
    margin: auto; }
    .nav-bar #global-nav a {
      display: block; }
    .nav-bar #global-nav .identity {
      float: left;
      height: 2.9rem;
      margin: .3rem; }
      .nav-bar #global-nav .identity:hover a {
        background: white; }
      .nav-bar #global-nav .identity img {
        height: 2.9rem;
        width: 2.9rem;
        border-radius: 15%; }
    .nav-bar #global-nav .nav-links {
      display: flex; }
      .nav-bar #global-nav .nav-links div {
        text-align: center; }
      .nav-bar #global-nav .nav-links a {
        line-height: 3.5rem; }
      .nav-bar #global-nav .nav-links .router-link-active {
        font-weight: 400;
        border-bottom: 0.1em solid rgba(0, 0, 0, 0.85);
        transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
        box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.85); }
  .nav-bar div {
    margin-top: 0;
    background-color: white;
    height: 3.5rem; }
  .nav-bar #work-nav {
    text-align: left;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis; }
    .nav-bar #work-nav a {
      float: left; }
    .nav-bar #work-nav a:hover {
      background-color: transparent; }
      .nav-bar #work-nav a:hover #back #arrow {
        fill: #7FDBB6;
        transition: fill 0.1s cubic-bezier(0.33, 0.66, 0.66, 1); }
    .nav-bar #work-nav a:active {
      border-bottom: none;
      box-shadow: none; }
      .nav-bar #work-nav a:active #back #arrow {
        fill: #011F7F;
        transition: fill 0.1s cubic-bezier(0.33, 0.66, 0.66, 1); }
    .nav-bar #work-nav div {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis; }
    .nav-bar #work-nav #back {
      height: 3.5rem;
      width: 3.5rem; }
      .nav-bar #work-nav #back #arrow {
        fill: rgba(0, 0, 0, 0.15); }
    .nav-bar #work-nav #project-name {
      line-height: 3.5rem;
      font-weight: 400;
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      padding-left: 1.5rem;
      word-wrap: break-word;
      white-space: nowrap; }

.grid-flex .cover {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #011F7F 0%, #7FDBB6 100%);
  position: relative; }
  .grid-flex .cover .cover-background {
    background-image: url("./../images/monument-cover-28rem.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    filter: opacity(80%); }
    @media screen and (min-width: 28rem) {
      .grid-flex .cover .cover-background {
        background-image: url("./../images/monument-cover-50rem.jpg"); } }
    @media screen and (min-width: 50rem) {
      .grid-flex .cover .cover-background {
        background-image: url("./../images/monument-cover.jpg"); } }
    .grid-flex .cover .cover-background .lettering {
      padding-left: 10vw;
      padding-top: calc(50vh - 10vw);
      width: 80vw;
      filter: opacity(80%); }
      @media screen and (min-width: 50rem) {
        .grid-flex .cover .cover-background .lettering {
          padding-left: 30vw;
          width: 40vw; } }
      @media screen and (min-width: 85rem) {
        .grid-flex .cover .cover-background .lettering {
          padding-top: 40vh; } }

.header {
  min-height: 24vmin;
  padding: 1rem;
  background-color: white;
  border: .8rem solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #7FDBB6 30%, #011F7F 60%, #7FDBB6 90%);
  -webkit-border-image: -webkit-linear-gradient(top left, #7FDBB6 20%, #011F7F 60%, #7FDBB6 90%);
  border-image: linear-gradient(to bottom right, #7FDBB6 30%, #011F7F 60%, #7FDBB6 90%);
  border-image-slice: 1; }

.header-img {
  width: 100vw;
  height: 6rem;
  background-size: cover;
  background-position: center; }

.header-img.work {
  background-image: url("http://quiet-dusk-35598.herokuapp.com/images/work/header-pano-bg-color.jpg"); }

.header-img.process {
  background-image: url(./../images/process/process-header-28rem.jpg); }
  @media screen and (min-width: 28rem) {
    .header-img.process {
      background-image: url(./../images/process/process-header-50rem.jpg); } }
  @media screen and (min-width: 50rem) {
    .header-img.process {
      background-image: url(./../images/process/process-header.jpg); } }
  @media screen and (min-width: 64rem) {
    .header-img.process {
      background-image: url(./../images/process/process-header-big-screen.jpg); } }

body, textarea, input, button {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300; }
  body ::selection, textarea ::selection, input ::selection, button ::selection {
    background-color: #011F7F;
    color: white; }

strong {
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.85); }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    color: rgba(0, 0, 0, 0.25);
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300; }

.small {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400; }

p, h1, h2, h3, h4, h5, textarea, input {
  margin: auto; }

p, h1, h2, h3, h4, h5, .nav-max, textarea, input, button, .bizstrap-table {
  width: 100%; }

@media screen and (min-width: 35rem) {
  p, h1, h2, h3, h4, h5, #global-nav, #work-nav, textarea, input, button, .bizstrap-table {
    width: calc(35rem + 15 * ((100vw - 50rem) / 35)); } }
@media screen and (min-width: 85rem) {
  p, h1, h2, h3, h4, h5, #global-nav, #work-nav, textarea, input, button, .bizstrap-table {
    width: 50rem; } }
h1, h2, h3, h4, h5 {
  padding: 0;
  line-height: 1.25; }

p, span, td, th {
  padding: 0;
  line-height: 1.5; }

p, span, textarea, input, button {
  font-size: 1.125rem; }

h1 {
  font-size: 1.60181rem; }

h2 {
  font-size: 1.42383rem; }

h3 {
  font-size: 1.26563rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

.small {
  font-size: 0.88889rem; }

p, span, td, th, textarea, input, button {
  font-size: 1rem; }
  @media screen and (min-width: 50rem) {
    p, span, td, th, textarea, input, button {
      font-size: calc(1rem + 0.25 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    p, span, td, th, textarea, input, button {
      font-size: 1.25rem; } }

h1 {
  font-size: 1.80203rem; }
  @media screen and (min-width: 50rem) {
    h1 {
      font-size: calc(1.80203rem + 1.24973 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    h1 {
      font-size: 3.05176rem; } }

h2 {
  font-size: 1.60181rem; }
  @media screen and (min-width: 50rem) {
    h2 {
      font-size: calc(1.60181rem + 0.8396 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    h2 {
      font-size: 2.44141rem; } }

h3 {
  font-size: 1.42383rem; }
  @media screen and (min-width: 50rem) {
    h3 {
      font-size: calc(1.42383rem + 0.5293 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    h3 {
      font-size: 1.95313rem; } }

h4 {
  font-size: 1.26563rem; }
  @media screen and (min-width: 50rem) {
    h4 {
      font-size: calc(1.26563rem + 0.29688 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    h4 {
      font-size: 1.5625rem; } }

h5 {
  font-size: 1.125rem; }
  @media screen and (min-width: 50rem) {
    h5 {
      font-size: calc(1.125rem + 0.125 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    h5 {
      font-size: 1.25rem; } }

.small {
  font-size: 0.88889rem; }
  @media screen and (min-width: 50rem) {
    .small {
      font-size: calc(0.88889rem + 0.11111 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    .small {
      font-size: 1rem; } }

* + * {
  margin-top: 1.5rem;
  margin-bottom: 0; }

h1 {
  margin-top: 5rem;
  margin-bottom: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
  margin-top: 0.75rem; }

p + h1, p + h2, p + h3, p + h4, p + h5 {
  margin-top: 1.5rem; }

p + p {
  margin-top: 0.75em; }

.grid-flex + .grid-max-width, .grid-max-width + .grid-flex, .grid-max-width + .grid-showcase, .grid-showcase + .grid-max-width, .nav + .grid-max-width {
  margin-top: 1.5rem; }

.grid-max-width + .grid-max-width {
  margin-top: 3rem; }

.grid-max-width + .grid-flex.guide {
  margin-top: 3rem; }

.grid-showcase + .grid-showcase {
  margin-top: 0%; }
  @media screen and (min-width: 85rem) {
    .grid-showcase + .grid-showcase {
      margin-top: 1.76rem; } }

#nav-bar + div {
  margin-top: 0; }

.margins-off > * {
  margin-top: 0; }

.headroom {
  will-change: transform;
  transition: transform 0.2s cubic-bezier(0.33, 0.66, 0.66, 1); }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  -webkit-transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  box-shadow: inset 0 -0.2em 0 #7FDBB6; }

a:hover {
  background: #7FDBB6; }

a:active {
  background: #011F7F;
  box-shadow: inset 0 -0.2em 0 #011F7F;
  border-bottom: 0.1em solid #011F7F;
  color: white; }

:focus {
  outline-color: #011F7F; }

table {
  margin: 1rem auto;
  border-collapse: collapse; }
  table th {
    text-align: left;
    padding: 0 .3em; }
  table td {
    padding-bottom: .75rem; }
  table tr + tr td {
    padding-top: .75rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15); }
  table td + td {
    padding-left: 6rem; }

.emoji {
  height: 1.5em;
  width: 1.5em;
  vertical-align: -.4em;
  margin: 0 .3em; }

.job {
  position: relative;
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 50rem) {
    .job {
      padding-bottom: 5.25rem; } }
  .job .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; }
    .job .background .background-image {
      width: 100%;
      height: 100%;
      filter: opacity(0.1);
      background-position: center; }
  .job .grid-max-width {
    position: relative;
    padding-top: 3rem; }
    @media screen and (min-width: 50rem) {
      .job .grid-max-width {
        padding-top: 5.25rem; } }

.job.linkedin {
  background-color: #303336;
  color: rgba(255, 255, 255, 0.8); }
  .job.linkedin h1, .job.linkedin h2, .job.linkedin h3, .job.linkedin h4, .job.linkedin h5 {
    color: white; }
  .job.linkedin h1 small, .job.linkedin h2 small {
    color: #0084bf; }
  .job.linkedin a:hover p {
    color: #0084bf; }
  .job.linkedin a:focus p, .job.linkedin a:active p {
    background-color: white;
    color: #0084bf; }
  .job.linkedin .background-image {
    background-image: url("./../images/work/linkedin-bg.jpg"); }

.job.bizo {
  background-color: #006386;
  color: rgba(255, 255, 255, 0.85); }
  .job.bizo h1, .job.bizo h2, .job.bizo h3, .job.bizo h4, .job.bizo h5 {
    color: white; }
  .job.bizo h1 small, .job.bizo h2 small {
    color: white; }
  .job.bizo a:hover p {
    background-color: #0095D5;
    color: white; }
  .job.bizo a:focus p, .job.bizo a:active p {
    background-color: white;
    color: #0095D5; }
  .job.bizo .background-image {
    background-image: url("./../images/work/bizo-bg.jpg");
    filter: opacity(0.05); }

.job.esurance {
  background-color: #EEE;
  color: #585149; }
  .job.esurance h1, .job.esurance h2, .job.esurance h3, .job.esurance h4, .job.esurance h5 {
    color: #746b88; }
  .job.esurance h1 small, .job.esurance h2 small {
    color: #170939; }
  .job.esurance a:hover p {
    background-color: #6699FF;
    color: white; }
  .job.esurance a:focus p, .job.esurance a:active p {
    background-color: white;
    color: #6699FF; }
  .job.esurance .background-image {
    background-image: url("./../images/work/esurance-bg.jpg"); }

.grid-showcase article {
  padding: 1rem .5rem 0; }
.grid-showcase a {
  display: block;
  position: relative;
  color: white;
  font-weight: 300; }
  .grid-showcase a:hover p {
    background-color: rgba(0, 0, 0, 0.85);
    color: #7FDBB6; }
  .grid-showcase a:focus p, .grid-showcase a:active p {
    background-color: #011F7F; }
  .grid-showcase a:active {
    box-shadow: none;
    border-bottom: none;
    background: none; }
.grid-showcase img {
  width: 100%;
  vertical-align: middle; }
.grid-showcase div {
  background-color: transparent;
  background-clip: content-box; }
.grid-showcase p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  line-height: 3rem;
  transition: background-color .3s, filter .3s; }
  .grid-showcase p span {
    padding: 0 1rem; }

.guide {
  color: white;
  border-top: .4em double white;
  background-image: linear-gradient(-90deg, #14243D, #7E2D2A);
  padding: 4.5rem 0; }
  .guide h1, .guide h2, .guide h3, .guide h4, .guide h5 {
    color: white; }

.img-container-25 {
  max-width: 25rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }
  .img-container-25 p {
    width: inherit;
    color: rgba(0, 0, 0, 0.65); }

.img-container-35 {
  max-width: 35rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }
  .img-container-35 p {
    width: inherit;
    color: rgba(0, 0, 0, 0.65); }

div[class^="img-container-"] + p {
  margin-top: 0.75rem; }

.sidebar {
  float: right;
  width: 20rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 0.75rem;
  border-top: 0.3rem solid rgba(0, 0, 0, 0.85);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65); }
  .sidebar p {
    width: inherit; }

.sidebar + p {
  margin-top: 0.75rem; }

.contact-background {
  background-image: url("./../images/contact/contact-bg-28rem.jpg");
  background-size: cover;
  background-position: center;
  height: 100%; }
  @media screen and (min-width: 28rem) {
    .contact-background {
      background-image: url("./../images/contact/contact-bg-50rem.jpg"); } }
  @media screen and (min-width: 50rem) {
    .contact-background {
      background-image: url("./../images/contact/contact-bg.jpg"); } }
  .contact-background form {
    margin: auto;
    padding: 20vh 0 1rem; }

button {
  margin: auto;
  display: block;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  line-height: 3.5rem;
  background-color: #6bd5ab;
  border: none;
  color: white;
  transition: background-color .3s; }
  button:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem #011F7F; }
  button:active, button:hover:active {
    background-color: #011F7F; }
  button:hover {
    background-color: #7FDBB6; }

textarea, input {
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.45);
  color: rgba(0, 0, 0, 0.85);
  resize: none;
  padding: 1rem;
  box-sizing: border-box; }
  textarea:focus, input:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem #011F7F; }

textarea {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  height: 30vh;
  line-height: 1.5rem; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.65); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.65); }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.65); }

textarea + input {
  margin-top: 0.75rem; }

input + button {
  margin-top: 0.75rem; }

.bizstrap-table {
  border: 1px solid #e0e2e4;
  border-collapse: separate;
  border-left: 0;
  border-top: 0;
  background-color: white;
  border-spacing: 0; }
  .bizstrap-table td, .bizstrap-table th {
    border-left: 1px solid #e0e2e4;
    border-top: 1px solid #e0e2e4;
    padding: .3em .5em;
    vertical-align: top;
    min-width: 1em;
    white-space: nowrap; }
  .bizstrap-table th {
    font-weight: 400; }
  .bizstrap-table .label {
    width: 10rem; }
  .bizstrap-table td:first-child {
    text-align: center; }
  .bizstrap-table td:nth-child(n+4), .bizstrap-table th:nth-child(n+3) {
    text-align: right; }
  .bizstrap-table input[type="checkbox"] {
    display: inline-block;
    width: auto; }

tr.message td:first-child, tr.creative td:first-child {
  background-color: white; }
tr.message td:nth-child(2), tr.creative td:nth-child(2) {
  width: 1em; }

tr.creative td:nth-child(3) {
  text-align: right; }

.message {
  background-color: #f9f9f9; }

.creative {
  background-color: #f0f0f0; }

tr.creative .label {
  padding-left: 1.5em; }

/*# sourceMappingURL=main.css.map */
