// Variables
// -------------------------

// Colors
$black85:           rgba(0,0,0,.85);
$black65:           rgba(0,0,0,.65);
$black45:           rgba(0,0,0,.45);
$black25:           rgba(0,0,0,.25);
$black15:           rgba(0,0,0,.15);
$white85:           rgba(255,255,255,.85);
$white65:           rgba(255,255,255,.65);
$white45:           rgba(255,255,255,.45);
$white25:           rgba(255,255,255,.25);
$mint:              #7FDBB6;
$purple:            #011F7F;
$brick:             #7E2D2A;
$red:               #FA2A00;
$orange:            #C16544;
$midnight:          #14243D;

// Vantablack
$vantablack-0:      #0B0C0E;
$vantablack-1:      #16181D;
$vantablack-2:      #24272D;
$vantablack-3:      #363A43;
$vantablack-4:      #484E59;
$vantablack-5:      #5D636E;
$vantablack-6:      #818792;
$vantablack-7:      #A3A7AF;
$vantablack-8:      #C7CACF;
$vantablack-9:      #ECEDEF;

// Gradients
$gradient-left-right: linear-gradient(to right, $purple 0%, $mint 100%);
$gradient-diagonal: linear-gradient(-90deg, $midnight, $brick);

// Shadows
$light-shadow:      0 .2rem 1rem 0px $black15;

// Bizo colors
$bizo-dark-blue:    #006386;
$bizo-light-blue:   #0095D5;
$bizo-red:          #E82529;
$bizo-green:        #A6D379;
$bizo-light-gray:   #e0e2e4;
$message-row:       lighten($mint, 30%);
$creative-row:      lighten($mint, 25%);
$control-icon:      $vantablack-6;

$bizo-subhead:      darken($bizo-red, 5%);

// Esurance colors
$esurance-purple:   #170939;
$esurance-gray:     #585149;
$esurance-light-purple: #746b88;
$esurance-light-gray: #EEE;
$esurance-blue:     #6699FF;

$esurance-subhead:  lighten($esurance-purple, 10%);


// LinkedIn colors
$linkedin-dark-gray: #303336; 
$linkedin-light-gray: #e1e9ee;
$linkedin-blue:     #0084bf;
$linkedin-slate:    #283e4a;
$linkedin-white-80: rgba(255,255,255,0.8);

$linkedin-subhead:  $linkedin-blue;

// Type
$copy-font:         'Yantramanav', sans-serif;
$heading-font:      'Playfair Display', Georgia, serif;
$copy-light:        300;
$copy-weight:       400;
$copy-bold:         400;
$heading-weight:    900;

// Type Scales
$mod_1:             1.125; // small-screen scale
$mod_2:             1.250; // large-screen scale
$min-fluid:         50rem; // minimum width for fluid scale
$max-fluid:         85rem; // max width for fluid scale
$min-line-length:   35rem; // minimum line length for fluid scale
$max-line-length:   50rem; // max line length for fluid scale

// Spacing
$default-spacing:   1.5rem;
$header-spacing:    .75rem;
$paragraph-spacing:	1.5em;

// Nav
$nav-height:        3.5rem;

// Grids
$reading-width:     70rem;
$wide-grid-width:   88rem;
$showcase-1-max:    32rem;
$showcase-3-column: 75rem;

// Screen size media queries
$phone-size:        28rem;
$tablet-size:       50rem;
$big-screen:        64rem;

// Site Defaults
// -------------------------
body { 
  background-color: white;
  margin:           0;
  img {
    width:          100%;
  }
}

article { padding: 0 1rem; }

.hide { display: none; }

// SCSS Imports
// -------------------------
@import 'profound-grid';
@import 'grids';
@import 'nav';
@import 'cover';
@import 'headers';
@import 'type';
@import 'spacing';
@import 'headroomjs';
@import 'links';
@import 'tables';
@import 'emoji';
@import 'sketchpad';
@import 'showcase';
@import 'guides';
@import 'images';
@import 'sidebar';
@import 'contact';
@import 'bizo';