body {
  background-color: white;
  margin: 0; }

/**
 * Profound Grid
 * 
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts, 
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 * 
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 * 
 * Nested columns are supported too, without having to reset the grid on each level. 
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com 
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
.grid-max-width {
  max-width: 1128px;
  margin-bottom: 2%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .grid-max-width .row {
    width: 100%;
    margin: 0 auto; }
  .grid-max-width .col1 {
    float: left;
    margin-right: -100%;
    width: 6.5%; }
  .grid-max-width .col2 {
    float: left;
    margin-right: -100%;
    width: 15%; }
  .grid-max-width .col3 {
    float: left;
    margin-right: -100%;
    width: 23.5%; }
  .grid-max-width .col4 {
    float: left;
    margin-right: -100%;
    width: 32%; }
  .grid-max-width .col5 {
    float: left;
    margin-right: -100%;
    width: 40.5%; }
  .grid-max-width .col6 {
    float: left;
    margin-right: -100%;
    width: 49%; }
  .grid-max-width .col7 {
    float: left;
    margin-right: -100%;
    width: 57.5%; }
  .grid-max-width .col8 {
    float: left;
    margin-right: -100%;
    width: 66%; }
  .grid-max-width .col9 {
    float: left;
    margin-right: -100%;
    width: 74.5%; }
  .grid-max-width .col10 {
    float: left;
    margin-right: -100%;
    width: 83%; }
  .grid-max-width .col11 {
    float: left;
    margin-right: -100%;
    width: 91.5%; }
  .grid-max-width .col12 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .grid-max-width .push0 {
    margin-left: 0%; }
  .grid-max-width .push1 {
    margin-left: 8.5%; }
  .grid-max-width .push2 {
    margin-left: 17%; }
  .grid-max-width .push3 {
    margin-left: 25.5%; }
  .grid-max-width .push4 {
    margin-left: 34%; }
  .grid-max-width .push5 {
    margin-left: 42.5%; }
  .grid-max-width .push6 {
    margin-left: 51%; }
  .grid-max-width .push7 {
    margin-left: 59.5%; }
  .grid-max-width .push8 {
    margin-left: 68%; }
  .grid-max-width .push9 {
    margin-left: 76.5%; }
  .grid-max-width .push10 {
    margin-left: 85%; }
  .grid-max-width .push11 {
    margin-left: 93.5%; }
  .grid-max-width + .grid-max-width {
    margin-top: 2%; }
  .grid-max-width article {
    padding: 0 1rem; }

.grid-flex {
  max-width: 100%;
  margin-bottom: 2%;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
  *zoom: 1;
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .grid-flex .row {
    width: 100%;
    margin: 0 0; }
  .grid-flex .col1 {
    float: left;
    margin-right: -100%;
    width: 6.5%; }
  .grid-flex .col2 {
    float: left;
    margin-right: -100%;
    width: 15%; }
  .grid-flex .col3 {
    float: left;
    margin-right: -100%;
    width: 23.5%; }
  .grid-flex .col4 {
    float: left;
    margin-right: -100%;
    width: 32%; }
  .grid-flex .col5 {
    float: left;
    margin-right: -100%;
    width: 40.5%; }
  .grid-flex .col6 {
    float: left;
    margin-right: -100%;
    width: 49%; }
  .grid-flex .col7 {
    float: left;
    margin-right: -100%;
    width: 57.5%; }
  .grid-flex .col8 {
    float: left;
    margin-right: -100%;
    width: 66%; }
  .grid-flex .col9 {
    float: left;
    margin-right: -100%;
    width: 74.5%; }
  .grid-flex .col10 {
    float: left;
    margin-right: -100%;
    width: 83%; }
  .grid-flex .col11 {
    float: left;
    margin-right: -100%;
    width: 91.5%; }
  .grid-flex .col12 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .grid-flex .push0 {
    margin-left: 0%; }
  .grid-flex .push1 {
    margin-left: 8.5%; }
  .grid-flex .push2 {
    margin-left: 17%; }
  .grid-flex .push3 {
    margin-left: 25.5%; }
  .grid-flex .push4 {
    margin-left: 34%; }
  .grid-flex .push5 {
    margin-left: 42.5%; }
  .grid-flex .push6 {
    margin-left: 51%; }
  .grid-flex .push7 {
    margin-left: 59.5%; }
  .grid-flex .push8 {
    margin-left: 68%; }
  .grid-flex .push9 {
    margin-left: 76.5%; }
  .grid-flex .push10 {
    margin-left: 85%; }
  .grid-flex .push11 {
    margin-left: 93.5%; }

.grid-flex > div {
  background-color: #7FDBB6;
  min-height: 5rem;
  margin-top: 0; }

.grid-flex + .grid-flex {
  margin-top: 2%; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.85); }

.small {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400; }

p, h1, h2, h3, h4, h5 {
  margin: auto; }

p, h1, h2, h3, h4, h5 {
  width: 100%; }

@media screen and (min-width: 35rem) {
  p, h1, h2, h3, h4, h5 {
    width: calc(35rem + 15 * ((100vw - 50rem) / 35)); } }
@media screen and (min-width: 85rem) {
  p, h1, h2, h3, h4, h5 {
    width: 50rem; } }
h1, h2, h3, h4, h5 {
  padding: 0;
  line-height: 1; }

p, span {
  padding: 0;
  line-height: 1.5; }

body p, body span {
  font-size: 1.125rem; }
body h1 {
  font-size: 1.60181rem; }
body h2 {
  font-size: 1.42383rem; }
body h3 {
  font-size: 1.26563rem; }
body h4 {
  font-size: 1.125rem; }
body h5 {
  font-size: 1rem; }
body .small {
  font-size: 0.88889rem; }
body p, body span {
  font-size: 1rem; }
  @media screen and (min-width: 50rem) {
    body p, body span {
      font-size: calc(1rem + 0.25 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body p, body span {
      font-size: 1.25rem; } }
body h1 {
  font-size: 1.80203rem; }
  @media screen and (min-width: 50rem) {
    body h1 {
      font-size: calc(1.80203rem + 1.24973 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body h1 {
      font-size: 3.05176rem; } }
body h2 {
  font-size: 1.60181rem; }
  @media screen and (min-width: 50rem) {
    body h2 {
      font-size: calc(1.60181rem + 0.8396 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body h2 {
      font-size: 2.44141rem; } }
body h3 {
  font-size: 1.42383rem; }
  @media screen and (min-width: 50rem) {
    body h3 {
      font-size: calc(1.42383rem + 0.5293 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body h3 {
      font-size: 1.95313rem; } }
body h4 {
  font-size: 1.26563rem; }
  @media screen and (min-width: 50rem) {
    body h4 {
      font-size: calc(1.26563rem + 0.29688 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body h4 {
      font-size: 1.5625rem; } }
body h5 {
  font-size: 1.125rem; }
  @media screen and (min-width: 50rem) {
    body h5 {
      font-size: calc(1.125rem + 0.125 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body h5 {
      font-size: 1.25rem; } }
body .small {
  font-size: 0.88889rem; }
  @media screen and (min-width: 50rem) {
    body .small {
      font-size: calc(0.88889rem + 0.11111 * ((100vw - 50rem) / 35)); } }
  @media screen and (min-width: 85rem) {
    body .small {
      font-size: 1rem; } }

* + * {
  margin-top: 1.5rem;
  margin-bottom: 0; }

h1 {
  margin-bottom: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
  margin-top: 0.75rem; }

p + h1, p + h2, p + h3, p + h4, p + h5 {
  margin-top: 1.5rem; }

p + p {
  margin-top: 0.75em; }

.grid-flex + .grid-max-width, .grid-max-width + .grid-flex {
  margin-top: 1.5rem; }

.margins-off > * {
  margin-top: 0; }

.header {
  height: 6vmin; }

table {
  margin: 1rem auto; }

/*# sourceMappingURL=main.css.map */
