<!DOCTYPE html>
<html>
  <head>
    <title>Jason Wilkens</title>
    <link rel="stylesheet" type="text/css" href="scss/main.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Open+Sans:300,400" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/vue-router.js"></script>
  </head>
  <body>
    <div id="app">
      <nav-bar></nav-bar>
      <router-view></router-view>
    </div>
    <script type="text/x-template" id="nav">
      <div id="nav-bar" class="nav-bar">
        <div id="work-nav" v-if="$route.meta.project">
          <router-link to="/work">
            <svg id="back" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" version="1.1" alt="back to Work">
              <g id="arrow">
                <path  d="M285.977922,343.933766 L407.918008,343.933766 C413.437365,343.933766 417.911688,348.413043 417.911688,353.94054 L417.911688,377.904915 C417.911688,383.431503 413.431008,387.911688 407.918008,387.911688 L251.993681,387.911688 C249.236181,387.911688 246.739527,386.793637 244.931366,384.985401 C243.118279,383.168984 242,380.672332 242,377.918008 L242,221.993681 C242,216.474323 246.479277,212 252.006773,212 L275.971149,212 C281.497737,212 285.977922,216.48068 285.977922,221.993681 L285.977922,343.933766 Z" transform="translate(329.955844, 299.955844) rotate(-315.000000) translate(-329.955844, -299.955844)"/>
              </g>
            </svg>
          </router-link>
          <div>
            <span id="project-name">{{ $route.meta.title }}</span>
          </div>
        </div>
        <div id="global-nav" v-else>
          <div class="nav-max">
            <router-link to="/" exact>
              <div class="identity">
                <img src="images/jason-face.jpg" alt="small portrait">
              </div>
            </router-link>
            <div class="nav-links">
              <div class="grid-flex">
                <div class="col3 push0">
                  <span><router-link to="/work">Work</router-link></span>
                </div>
                <div class="col3 push3">
                  <span><router-link to="/process">Process</router-link></span>
                </div>
                <div class="col3 push6">
                  <span><router-link to="/about">About</router-link></span>
                </div>
                <div class="col3 push9">
                  <span><router-link to="/contact">Contact</router-link></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="home">
      <div>
        <div class="grid-flex">
          <div class="cover">
            <div class="cover-background">
              <div class="grid-max-width">
                <div>
                  <article>
                    <h1 class="satnh">Seek Always the<br />Next Horizon</h1>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="work">
      <div>
        <div class="grid-max-width">
          <div>
            <article>
              <h1>Work</h1>
            </article>
          </div>
        </div>
        <div class="job linkedin">
          <div class="background">
            <div class="background-image"></div>
          </div>
          <div class="grid-max-width">
            <div>
              <article>
                <h2>LinkedIn<br/><small>Designing at scale</small></h2>
                <p>I came to LinkedIn through the Bizo acquisition and worked primarily on advertising products. I learned a lot and brought some Bizo goodness to LinkedIn's huge base of advertisers. After doing design here for almost two years, I moved into front-end engineering to sharpen my coding skills.</p>
              </article>
            </div>
          </div>
          <div class="grid-showcase">
            <div>
              <article>
                <router-link to="/work/lead-accelerator">
                  <img src="http://placehold.it/900x600">
                  <p><span>Lead Accelerator</span></p>
                </router-link>
              </article>
            </div>
            <div>
              <article>
                <router-link to="/work/mad-river">
                  <img src="http://placehold.it/900x600">
                  <p><span>Mad River</span></p>
                </router-link>
              </article>
            </div>
            <div>
              <article>
                <router-link to="/work/lead-ads">
                  <img src="http://placehold.it/900x600">
                  <p><span>Lead Ads</span></p>
                </router-link>
              </article>
            </div>
          </div>
        </div>
        <div class="job bizo">
          <div class="background">
            <div class="background-image"></div>
          </div>
          <div class="grid-max-width">
            <div>
              <article>
                <h2>Bizo<br/><small>Department of one</small></h2>
                <p>I joined Bizo as the 75th employee, and first UX designer. From the time I interviewed I could tell it was a special place, and joining was the best decision of my career. I wanted to do UX on my own terms, and worked with the team to develop an innovative approach to product design. It paid off, and we were acquired by LinkedIn in 2014.</p>
              </article>
            </div>
          </div>
          <div class="grid-showcase">
            <div>
              <article>
                <router-link to="/work/multichannel-nurturing">
                  <img src="images/work/bizo/nurturing-usage.png">
                  <p><span>Multichannel Nurturing</span></p>
                </router-link>
              </article>
            </div>
            <div>
              <article>
                <router-link to="/work/analytics">
                  <img src="images/work/bizo/funnel-impact.png">
                  <p><span>Analytics</span></p>
                </router-link>
              </article>
            </div>
            <div>
              <article>
                <router-link to="/work/building-products">
                  <img src="images/work/bizo/welcome.png">
                  <p><span>Building Products</span></p>
                </router-link>
              </article>
            </div>
          </div>
        </div>
        <div class="job esurance">
          <div class="background">
            <div class="background-image"></div>
          </div>
          <div class="grid-max-width">
            <div>
              <article>
                <h2>Esurance<br/><small>Hitting the big time</small></h2>
                <p>Moving out to San Francisco and designing for Esurance was a big step in my career. I learned about e-commerce working on the insurance quoting and purchasing experience. Every change I made impacted the bottom line, so we tested and measured like nowhere I've seen since. It was thrilling to work on something with so much impact.</p>
              </article>
            </div>
          </div>
          <div class="grid-showcase">
            <div>
              <article>
                <router-link to="/work/coverage-counselor">
                  <img src="images/work/esurance/coverage-counselor.jpg">
                  <p><span>Coverage Counselor</span></p>
                </router-link>
              </article>
            </div>
            <div>
              <article>
                <router-link to="/work/quick-compare">
                  <img src="images/work/esurance/quick-compare.png">
                  <p><span>Quick Compare</span></p>
                </router-link>
              </article>
            </div>
            <div>
              <article>
                <router-link to="/work/customer-flow">
                  <img src="images/work/esurance/customer-flow.png">
                  <p><span>Customer Flow</span></p>
                </router-link>
              </article>
            </div>
          </div>
        </div>
        <guide></guide>
      </div>
    </script>
    <script type="text/x-template" id="process">
      <div>
        <div class="grid-max-width">
          <div>
            <article>
              <h1>Process</h1>
            </article>
          </div>
        </div>
        <div class="grid-flex">
          <div>
            <div class="header-img process"></div>
          </div>
        </div>
        <div class="grid-max-width">
          <div>
            <article>
              <h2>Building web products</h2>
              <p>I've consistently heard from designers who struggle to bring real change to their products, especially in the enterprise space. Their complaints have a common theme: There aren't enough engineers. The product managers won't prioritize design improvement. A redesign isn't worth the cost. Eventually they get burned out. Their best hope is to persuade stakeholders to change their priorities with a great design presentation. An uphill battle, and a never-ending one.</p>
              <p>I believe this is a solvable problem. Fixing it requires designers and stakeholders to reach outside their traditional comfort zones. When you can go no further, change. You will make it through.</p>
              <p>On an organizational level, a design group should learn how to change their products as much as possible while asking as little as possible from product management and engineering. You might think that I'm about to say &ldquo;designers should code&rdquo;, but the real requirement is only that the design <em>organization</em> should be capable of producing final designs in code. Design should be able to define the content and presentation layers for their products (HTML and CSS). Engineering should optimize and improve the code for production, but even taking this first step removes a tremendous amount of friction from product development and enables design craftsmanship in the end user experience.</p>
              <div class="sidebar">
                <p>My engineering counterpart at Bizo wrote about <a href="http://www.draconianoverlord.com/2016/07/22/staffing-a-front-end-team.html" target="_blank">his perspective</a> on this model.</p>
              </div>
              <p>Delivering final designs in code reduces the engineering cost to implement them. It provides a shared context for design and engineering collaboration and learning. It also prevents design bugs that can take additional effort to fix. The reduced engineering costs for design changes make them less costly to prioritize, producing a virtuous cycle of design improvement.</p>
              <p>For the design team, a code-based style library enables design consistency, clarity, and scalability in a way that image-based tools will never match.</p>
              <p>Design-led presentation layer code is a great first step. The next step is devoting dedicated engineering resources to design improvement. The surest way to degrade a product over time is to prioritize by weighing any design changes against new features. Design improvements provide long-term value and are hard to measure directly, so the new features will win every time.</p>
              <p>I helped a team solve this problem by setting a fixed percentage of our engineering budget each sprint for design improvements. I'd negotiate with the product team, but the design tasks for this dedicated budget were prioritized by design. If you have a design-oriented product manager you might not need to take on this responsibility, but I like when designers prioritize their design improvements. It fosters appreciation for the costs of the engineering work that provides valuable focus.</p>
              <div class="img-container-25">
                <img src="images/process/sketch.jpg" alt="Sketch of a metric table design">
                <p>starting an idea with a simple sketch&hellip;</p>
              </div>
              <p>As an individual contributor, I've always measured my work by its impact on real users. Nice mocks for my portfolio aren't very rewarding. So I get frustrated when a final product doesn't turn out as nicely as my carefully crafted Illustrator mocks. Many great designers have argued for designing in code. For me, the right to control the end result was what sold me.</p>
              <p>I started using image tools less often as I got better at CSS and my design system became more extensive. Eventually, I found that my process started with paper and pencil to explore ideas, then went directly into code to grapple with reality. There was no need for the intermediate step of drawing my whole interface in a graphics program beforehand. I only needed image tools to produce actual images to include in my designs. Using my "living styleguide" I could quickly build prototypes of entire experiences to demo and conduct research.</p>
              <div class="bizstrap-table-container">
                <hierarchical-table></hierarchical-table>
              </div>
              <p class="floating-caption">&hellip;and bringing it to life in code</p>
              <p>Not every designer should work the way that I do. I believe in letting people focus on their strengths. But many of the design decisions that have to be made for a web experience can't be shown in an image mockup, or even a prototype stitched together from static images. If you really want to control your product look and feel, you have to work directly in its medium. That will only become more true as the web becomes more fluid, animated, and dynamic.</p>
              <p>There's something very rewarding and authentic about working this way. For me it evokes Frank Lloyd Wright's architecture school, whose students don't just design structures while sitting at a desk, they go outside and build the shelters that they live in while at school. Or industrial designers creating physical prototypes. Imagination without constraints is an indispensable part of design, but so is overcoming the challenges of the medium to make real change achievable.</p>
              <hr/>
              <h2>Building culture</h2>
              <p>Working in  very different company cultures over the years, I've learned what to look for and help grow in the organizations I'm part of. Things that turn a job into a deeply fulfilling endeavor.</p>
              <div class="img-container-50">
                <img
                  srcset="images/process/culture-1600.jpg 1600w,
                          images/process/culture-800.jpg 800w"
                  sizes="(min-width:70rem) 1120w, 100vw"
                  src="images/process/culture-1600.jpg" alt="Pictures with teammates"
                />
              </div>
              <p>The first is a culture of commitment. An innate sense of trust that fosters deep bonds between coworkers. It's easy to sense these kinds of cultures, they feel less stiff and more genuine. It doesn't mean that we always agree, but trust allows us to sort out disagreements productively. It means being your authentic self at work and sharing your perspective honestly. It also makes work a lot more fun. Without these bonds, a job loses its purpose and becomes a quid-pro-quo calculus &mdash; what I am giving and what I am getting.</p>
              <p>A culture of commitment enables the second thing I look for, an action-oriented culture where trust allows decision-making to move down the hierarchy. You have enough ownership of your work to make decisions without running them up the chain of command. You are included in decisions that will affect you whenever possible. Trust runs both ways, and people keep their managers informed and their work consistent with the company's standards.</p>
              <p>The last thing I look for is a focus on productivity that prevents unnecessary processes from building up. Teams figure out what works for them and modify it over time. Meetings are more likely to be one-offs scheduled for a purpose than recurring time-slots to be filled with content. This is worth underlining because meetings are very expensive. The more people attend, the more expensive the meeting. Sometimes big meetings are worth the cost, and if they are they should feel important and engage their participants.</p>
              <div class="img-container-35">
                <img src="images/process/pm-team.jpg" alt="Bizo PM Team">
                <p>a small but mighty team meeting </p>
              </div>
              <p>I'll admit that these traits are more likely to be found in smaller organizations, but I've also seen cases where adopting some of these qualities can allow larger companies to move faster and feel smaller than they are.</p>
              <p>Creating a great culture is an essential part of my process as a designer and employee. Not only because it's better for productivity, but because it's better for human happiness. Ultimately, what is the point of doing great work and finding success if not to improve human well-being?</p>
            </article>
          </div>
        </div>
        <guide></guide>
      </div>
    </script>
    <script type="text/x-template" id="about">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>About</h1>
          </article>
          <img
            srcset="images/about/self-portrait.jpg 2048w,
                    images/about/self-portrait-50rem.jpg 1600w,
                    images/about/self-portrait-28rem.jpg 896w"
            sizes="(min-width:70rem) 1120w, 100vw"
            src="images/about/self-portrait.jpg" alt="Picture of Jason"
          />
          <article>
            <greeting></greeting>
            <p>I'm Jason Wilkens, a designer and developer of products and experiences on the web.</p>
            <h3>What I do</h3>
            <p>I like to build things that make people more productive and help them feel informed, capable, and efficient. I'm probably not the right designer to create a beautiful illustration or logo, but I'm great at designing software products and design systems for the web.</p>
            <table>
              <tr>
                <th colspan="2">Skills</th>
              </tr>
              <tr>
                <td><img draggable="false" title=":chart_with_upwards_trend:" alt="&#128200;" src="https://twemoji.maxcdn.com/2/svg/1f4c8.svg" class="emoji">Data Visualization</td>
                <td><img draggable="false" title=":sunglasses:" alt="&#128526;" src="https://twemoji.maxcdn.com/2/svg/1f60e.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":hammer_and_wrench:" alt="&#128736;" src="https://twemoji.maxcdn.com/2/svg/1f6e0.svg" class="emoji">Design Systems</td>
                <td><img draggable="false" title=":muscle:" alt="&#128170;" src="https://twemoji.maxcdn.com/2/svg/1f4aa.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":frame_with_picture:" alt="&#128444;" src="https://twemoji.maxcdn.com/2/svg/1f5bc.svg" class="emoji">Graphic Design</td>
                <td><img draggable="false" title=":zzz:" alt="&#128164;" src="https://twemoji.maxcdn.com/2/svg/1f4a4.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":gear:" alt="&#9881;" src="https://twemoji.maxcdn.com/2/svg/2699.svg" class="emoji">HTML/CSS/JS</td>
                <td><img draggable="false" title=":heart_eyes:" alt="&#128525;" src="https://twemoji.maxcdn.com/2/svg/1f60d.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":control_knobs:" alt="&#127899;" src="https://twemoji.maxcdn.com/2/svg/1f39b.svg" class="emoji">Interaction Design</td>
                <td><img draggable="false" title=":heart_decoration:" alt="&#128159;" src="https://twemoji.maxcdn.com/2/svg/1f49f.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":gift:" alt="&#127873;" src="https://twemoji.maxcdn.com/2/svg/1f381.svg" class="emoji">Product Design</td>
                <td><img draggable="false" title=":santa:" alt="&#127877;" src="https://twemoji.maxcdn.com/2/svg/1f385.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":zap:" alt="&#9889;" src="https://twemoji.maxcdn.com/2/svg/26a1.svg" class="emoji">Prototyping</td>
                <td><img draggable="false" title=":nerd_face:" alt="&#129299;" src="https://twemoji.maxcdn.com/2/svg/1f913.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":microscope:" alt="&#128300;" src="https://twemoji.maxcdn.com/2/svg/1f52c.svg" class="emoji">Research</td>
                <td><img draggable="false" title=":bulb:" alt="&#128161;" src="https://twemoji.maxcdn.com/2/svg/1f4a1.svg" class="emoji"></td>
              </tr>
              <tr>
                <td><img draggable="false" title=":world_map:" alt="&#128506;" src="https://twemoji.maxcdn.com/2/svg/1f5fa.svg" class="emoji">Strategy</td>
                <td><img draggable="false" title=":necktie:" alt="&#128084;" src="https://twemoji.maxcdn.com/2/svg/1f454.svg" class="emoji"></td>
              </tr>
            </table>
            <h3>Social media</h3>
            <p>You can find me on
            <a href="https://www.linkedin.com/in/jasondwilkens/" target="_blank" class="nowrap">
            <svg class="linkedin" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" alt="LinkedIn logo">
              <path d="M370.391,0H29.523C13.234,0,0,12.911,0,28.824V371.14C0,387.067,13.234,400,29.523,400h340.867
              C386.709,400,400,387.067,400,371.14V28.824C400,12.911,386.709,0,370.391,0z M118.635,340.853h-59.33V149.959h59.33V340.853z
               M88.984,123.865c-19.016,0-34.407-15.415-34.407-34.406c0-18.974,15.391-34.388,34.407-34.388c18.967,0,34.38,15.415,34.38,34.388
              C123.364,108.45,107.951,123.865,88.984,123.865z M340.847,340.853h-59.286V248.02c0-22.136-0.407-50.611-30.829-50.611
              c-30.869,0-35.607,24.114-35.607,49.012v94.433h-59.277V149.959h56.902v26.084h0.795c7.921-15.008,27.273-30.83,56.136-30.83
              c60.076,0,71.167,39.54,71.167,90.933V340.853z"/>
            </svg>professional</a> or
            <a href="https://twitter.com/jasondwilkens" target="_blank" class="nowrap">
            <svg class="twitter" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" alt="Twitter logo">
              <path d="M350,400H50c-27.6,0-50-22.4-50-50V50C0,22.4,22.4,0,50,0h300c27.6,0,50,22.4,50,50v300
              C400,377.6,377.6,400,350,400z M153.6,301.6c94.3,0,145.9-78.2,145.9-145.9c0-2.2,0-4.4-0.1-6.6c10-7.2,18.7-16.3,25.6-26.6
              c-9.2,4.1-19.1,6.8-29.5,8.1c10.6-6.3,18.7-16.4,22.6-28.4c-9.9,5.9-20.9,10.1-32.6,12.4c-9.4-10-22.7-16.2-37.4-16.2
              c-28.3,0-51.3,23-51.3,51.3c0,4,0.5,7.9,1.3,11.7c-42.6-2.1-80.4-22.6-105.7-53.6c-4.4,7.6-6.9,16.4-6.9,25.8
              c0,17.8,9.1,33.5,22.8,42.7c-8.4-0.3-16.3-2.6-23.2-6.4c0,0.2,0,0.4,0,0.7c0,24.8,17.7,45.6,41.1,50.3c-4.3,1.2-8.8,1.8-13.5,1.8
              c-3.3,0-6.5-0.3-9.6-0.9c6.5,20.4,25.5,35.2,47.9,35.6c-17.6,13.8-39.7,22-63.7,22c-4.1,0-8.2-0.2-12.2-0.7
              C97.7,293.1,124.7,301.6,153.6,301.6"/>
            </svg>unprofessional</a> networks.</p>
            <h3>About this site</h3>
            <p>Making this site was a fun chance to play with <a href="https://vuejs.org/" target="_blank">Vue.js</a>, <a href="http://www.profoundgrid.com" target="_blank">Profound Grid</a>, and <a href="https://www.smashingmagazine.com/2016/05/fluid-typography/" target="_blank">fluid type</a>. I also wanted to put some of my code-based work in a portfolio without just taking screenshots of it. Finally, I wanted to have my thoughts on design in a place I can easily point people to. Check out the <a href="https://github.com/jasonwilkens/portfolio" target="_blank">GitHub repo</a> to inspect my work and <router-link to="/contact">drop me a line</router-link> if you have any feedback you'd like to share. Thanks for visiting!</p>
          </article>
        </div>
        <guide></guide>
      </div>
    </script>
    <script type="text/x-template" id="contact">
      <div>
        <div class="grid-flex">
          <div class="cover">
            <div class="contact-background">
              <div class="grid-max-width">
                <contact-form></contact-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text=x-template" id="contact-form">
      <div>
        <article>
          <h1>Contact</h1>
          <form>
            <textarea placeholder="Write a message" tabindex="1" v-on:keyup.esc="escape"></textarea>
            <div class="input-row">
              <button class="contact-button" tabindex="3" v-on:keyup.esc="escape">Send</button>
              <div class="input-container">
                <input type="text" placeholder="Your email (optional)" tabindex="2" v-on:keyup.esc="escape">
              </div>
            </div>
          </form>
        </article>
      </div>
    </script>
    <script type="text/x-template" id="guide">
      <div class="grid-flex guide">
        <article>
          <h2>{{ suggested('title') }}</h2>
          <p>{{ suggested('description') }}
            <router-link v-bind:to="suggested('to')">{{ suggested('link') }}</router-link>
          </p>
          <ul class="pills" title="where you've been">
            <li v-bind:class="routeVisited(1)">Work</li>
            <li v-bind:class="routeVisited(2)">Process</li>
            <li v-bind:class="routeVisited(3)">About</li>
            <li v-bind:class="routeVisited(4)">Contact</li>
          </ul>
        </article>
      </div>
    </script>
    <script type="text/x-template" id="lead-accelerator">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Lead Accelerator</h1>
            <p>All about Lead Accelerator.</p>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="mad-river">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Mad River</h1>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="lead-ads">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Lead Ads</h1>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="multichannel-nurturing">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Multichannel Nurturing</h1>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="analytics">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Analytics</h1>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="building-products">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Building Products</h1>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="coverage-counselor">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Coverage Counselor</h1>
            <p>This was the biggest and coolest project I worked on at Esurance. Esurance was experimenting with building additional tools to help our customers outside the context of getting a quote. Coverage Counselor was born out of the idea that we could help prospective customers make more informed choices about the type of coverage they should buy.</p>
            <p>It was a value proposition I was passionate about &mdash; providing better information so that people could shop from a perspective of protecting themselves and others, instead of solely focusing on saving money.</p>
            <p>I led the project as the product manager and UX designer. I got to assemble three awesome teammates to help me out: a copywriter, a visual designer, and a front-end developer.</p>
            <h2>Challenges</h2>
            <h2>Execution</h2>
            <h2>Promotion</h2>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="quick-compare">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Quick Compare</h1>
            <p>Quick Compare is an experience built as an alternative to Esurance's regular quote flow, for prospective customers who enter ZIP codes where Esurance's rates aren't as competitive. I was the product manager and UX designer during it's development.</p>
            <p>Instead of taking those customers through a long series of questions to get an uncompetitive price, I designed a single-page experience that shows estimated rates from Esurance and a few other companies, along with a few default inputs that could be changed to get closer to an accurately quoted price. In this way, customers can more easily see how Esurance's rates are likely to compare to other carriers in their area, and Esurance still benefits by selling traffic that they'd be unlikely to convert into policyholders.</p>
            <p>Looking back, I think this was the earliest project where I felt compelled to take ownership of the front-end code for my design.</p>
            <p>In my first design, I had all the controls at the top of the page, similar to common patterns for performing an advanced search. That similarity helped users grasp what they were looking at &mdash; that by tweaking the controls, they could alter the results below instantly.</p>
            <p>The problem with this design (and it's pretty apparent from this mockup) is that there's a lot of controls here, and jamming them into that area was quite a challenge. It took a lot of finessing in Adobe Fireworks to get them all into that small space.</p>
            <p>Naively, I thought that after shipping off this mock with the specs my work was finished and a product matching my design would come out the other side of the engineering process. I was disappointed to learn that this was not the case.</p>
            <p>The finished product had a superficial resemblance to my mocks, but elements were out of alignment, some were bigger and some smaller, and the slider control was changed entirely to a dropdown, which was easier to implement. Pixel measurements I'd carefully overlaid onto the mocks were completely ignored.</p>
            <p>I couldn't let it out like that, I needed to go back to the drawing board. I met with my engineer, who was very talented, but much more familiar with back-end engineering problems that creating web application interfaces. I got help from a producer on the website team, and started learning how to put my own design into CSS.</p>
            <p>I took the opportunity to fix my layout by putting the controls into a left-side panel as well. It was a much more forgiving layout, and I knew that even if the engineers didn't use my CSS things would be less likely to go horribly wrong.</p>
            <p>I learned a lot on this project and if I boiled it down to one important lesson, it would be: Don't ever mistake a mockup created on the canvas of a graphics tool for anything more than an approximation of what a final design might look like.</p>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="customer-flow">
      <div>
        <div class="grid-max-width">
          <article>
            <h1>Customer Flow</h1>
            <p>When you visit <a href="http://www.esurance.com" target="_blank">esurance.com</a>, the experience after you type in your ZIP code is called Customer Flow. It guides you through getting an insurance quote and hopefully, purchasing a policy if you're happy with your quote.</p>
            <p>Optimizing Customer Flow was the primary goal of my team at Esurance, and I worked on several different projects that made an impact. The most interesting part of working on this team was that we had a custom testing and tracking setup and a dedicated team to analyze the impact of every change we introduced to the flow. This could be nerve-wracking after you launched a big project, but most of the time it helped us stay on track and gather valuable data.</p>
            <p>Here's a couple Customer Flow projects that both taught me something valuable.</p>
            <h2>Discounts</h2>
            <p>Car insurance is very similar across insurers, and most buyers are much more concerned with price than anything else. So how do you use design to make your price more appealing?</p>
            <p>Our research showed that customers paid a lot of attention to the discounts that were included in their quote, and they were very protective of them. We theorized that if two insurance companies were offering similar rates, but one was highlighting the discounts you were getting because of your personal attributes, you'd be more likely to purchase from them.</p>
            <p>I worked on a project to redesign our handling of discounts to test this theory. Instead of just showing the total number of discounts along with the final quote, we'd bring awareness of discount opportunities forward into Customer Flow and show a kind of discount shopping cart as you progressed through it.</p>
            <p>We experimented with different placements and styles for the discount shopping cart, how to position discount-related questions within Customer Flow, and how to show the total and itemized discount amounts in relation to the final quote price. We used eye-tracking studies and A/B testing to figure out which treatments worked best.</p>
            <p>Promoting discounts in the flow improved our conversion rate, and taught me a bit about how merchandising works online.</p>
            <h2>Coverage Recommendation Engine</h2>
            <p>This project taught me that you can make a big impact on a user experience without changing the UI at all.</p>
            <p>When most people get an insurance quote, there's only one thing they care about &mdash; the price. Interestingly, it's not just the lowest possible price, but the lowest price for the level of insurance they're expecting to buy. If you already have a policy, you expect the coverage to be in line with what you currently have. If we suggest bare-bones coverage and a lower price, you won't be impressed. Instead of changing the coverage levels to see an accurate comparison with your current policy, you'll probably just walk away.</p>
            <p>Customer Flow had a very basic method of suggesting coverage. If you already had a policy, we'd look up your existing coverage limits and match them. If you didn't have a policy, we'd suggest a default set of coverage choices.</p>
            <p>I was assigned a project to introduce a new rule to this system. We'd identified a segment of potential customers &mdash; those without a current policy and with older, paid for vehicles who were looking for the minimum coverage available. For them, we'd suggest the lowest amount of coverage and label it "minimum." It sounds simple, but adding an additional coverage rule to our infrastructure at the time was a lot of effort.</p>
            <p>After tacking on the rule for this segment, I knew there had to be other customer segments out there that could be more precisely targeted. What about people who don't have coverage now, but live in wealthy ZIP codes and have brand new expensive cars? Wouldn't they want better than average insurance? I wanted to create a way for us to find these smaller segments of customers and offer the optimum amount of coverage for them.</p>
            <p>I didn't know who these segments were, no one did, I just strongly suspected that we could do a better job than we were of segmenting and appealing to our customers. What we needed was the abilty to experiment with different rules for suggesting coverage, so that we could find out what worked best.</p>
            <p>I also knew that we needed a way to create and test these rules much more efficiently, without a ton of development effort.</p>
            <p>I worked with our director of marketing analytics to design a system we called the Coverage Recommendation Engine, a rules engine that would recommend coverage for each customer. We could write our rules not just on whether the customer had existing coverage or a paid for vehicle, but on any of the previous questions we had asked in Customer Flow. We'd be able to test different rule sets against each other to find out which types of segmentation worked best.</p>
            <p>We launched the CRE and it was a huge win for the business while enabling a better buying experience for our customers, and it was all invisible in the UI.</p>
          </article>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="hierarchical-table">
      <table class="bizstrap-table" id="metric-table">
        <colgroup>
          <col width="1.5rem">
        </colgroup>
        <thead>
          <tr>
            <th colspan="3">Campaigns</th>
            <th>Metric</th>
            <th>Metric</th>
          </tr>
        </thead>
        <tbody v-on:click.prevent="toggleRow">
          <tr v-for="item in rows" v-bind:class="item.level" v-show="showExpanded(item)">
            <td v-if="item.level === 'campaign'" v-bind:rowspan="findRowspan(item)" v-bind:class="item.display === 'expanded' ? 'message' : ''">
              <a class="row-toggle" href="#" v-bind:data-id="item.id">
                <svg viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" alt="toggle campaign">
                  <g id="triangle">
                    <path d="M167,33 L434,300 L167,567 L167,33 Z" v-bind:transform="item.display === 'expanded' ? 'rotate(90 300 300)' : ''" id="shape"></path>
                  </g>
                </svg>
              </a>
            </td>
            <td v-if="item.level === 'message'" v-bind:rowspan="findRowspan(item)" v-bind:class="item.display === 'expanded' ? 'creative' : ''">
              <a class="row-toggle" href="#" v-bind:data-id="item.id">
                <svg viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" alt="toggle message">
                  <g id="triangle">
                    <path d="M167,33 L434,300 L167,567 L167,33 Z" v-bind:transform="item.display === 'expanded' ? 'rotate(90 300 300)' : ''" id="shape"></path>
                  </g>
                </svg>
              </a>
            </td>
            <td class="label" v-bind:colspan="item.level === 'campaign' ? 2 : 1">{{ item.key }}</td>
            <td>{{ item.metric1 }}</td>
            <td>{{ item.metric2 }}</td>
          </tr>
        </tbody>
      </table>
    </script>
    <script src="js/headroom.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>